[Unit]
Requires=network-online.target
After=network-online.target
Description=Recompiles vmware modules
ConditionPathExists=!/dev/vmmon

[Service]
Type=oneshot
ExecStart=sh -c "/opt/VMware/vmwarecompile.sh"

[Install]
WantedBy=multi-user.target
